.success-message {
    color: green; 
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 15px;
}